*
!/main/*
!/main/
!/components/
!/components/butter_motor/
!/components/butter_motor/*
!/components/butter_motor/include/
!/components/butter_motor/include/*
!/components/neopixel/
!/components/neopixel/*
!/components/neopixel/include/*
!/components/leds/
!/components/leds/*
!/components/leds/include/*
!/components/legs/
!/components/legs/*
!/components/legs/include/*
!.gitignore
!README.md
